
/*CUERPO*/

 /* Home*/   

#seccionUno {
    height: 820px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image: url(../media/foto5.png);
    background-position: right -58px;
    background-size: 56%;
    background-repeat: no-repeat;

}

.contenedorUno__titulo {
	color: #3a3a3a;
	font-family: 'Cormorant Garamond', serif;
    width: 35%;
	margin-left: 60px;
    font-size: 60px;
    font-weight: 600px;
    font-style: bold;
	line-height: 84px;
    margin-top: 90px;	
    margin-bottom: 30px;
  
    
}

.contenedorUno__texto{
	color: #3a3a3a;
	font-family: 'Raleway', sans-serif;
	margin-left: 60px;
    line-height: 2.50;
    font-size: 16px;
    width: 40%;
    font-weight: 500;
    margin-bottom: 30px;
}

.contenedorUno__img{
    float: right;
    right: 0;
    position: absolute;
    margin-bottom: 30%;  
    width: 56%;
    top:-10px;
 
}

.contenedorUno__subtitulo{
    color: #3a3a3a;
	font-family: 'Cormorant Garamond', serif;
	width: 35%;
	margin-left: 60px;
	line-height: 1.50;
	font-size: 22px ;
	font-style: italic;
	font-weight: bold;
}

#img{
    margin-left: 50px;
}


.contenedorDos{
	background-color: white; 
	width: 100%;
	height: 300px;	
}


.contenedorDos__pasos { 
	max-width: 80%;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
	align-items: baseline;
	margin-left: 150px;
	
}

.contenedorDos__titulo {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.50;
    margin-top: 10px;
    margin-bottom: 10px;
	font-size: 20px;
    font-weight: 300px;
    font-style: bold;
}

.contenedorDos__texto {
	font-family: $font-secundaria;
	line-height: 1.7;
    margin-bottom: 15px;
    
}

.contenedorDos__img {
	width: 15%;
}


.contenedorDos__box {
	flex:1 ;
	padding: 20px;
	height: 150px;
	border-color: 1px solid white;
	border-radius: 10px;
	background-color:  white;
	box-shadow: 0 0 10px 4px #F7F7F7;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: left;
	margin-left: 20px;
	margin-right: 10px;
}


#seccionTres {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
  
}

.contenedorTres__titulo {
	color: #3a3a3a;
	font-family: 'Cormorant Garamond', serif;
	width: 35%;
	font-size: 40px;
	margin-top: 20px;	
	text-align: left;
    line-height: 70px;
    margin-bottom: 15px;
    margin-left: 600px;
}

.contenedorTres__subtitulo{
    color: #3a3a3a;
	font-family: 'Raleway', sans-serif;
	width: 50%;
    margin-left: 42%;
	margin-bottom: 38%;
	line-height: 2.50;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}


.contenedorTres__img{
    position: absolute;
    width: 409.54px;    
    height: 754.65px;
    left: 139px;   
}


.contenedorCuatro__pasos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
    width: 70%;
    justify-content: flex-end;
    align-content: flex-end;
    margin-left: 320px;
    padding-bottom:5%;
    
}

.contenedorCuatro__box {
	height: 200px;
	border-color: 1px solid white;
	border-radius: 10px;
	background-color:  white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: left;
    width: 30%;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.contenedorCuatro__img{
    width: 15%;
}

.contenedorCuatro__titulo{
    font-family:'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 1px;
}

.contenedorCuatro__texto {
    font-family:'Open Sans', sans-serif;
    line-height: 2;
}


#blobs{
    width: 100%;
      
}

.img__blobs {
    position: center;
    width: 100%;
}


.contenedorCinco {
    width: 100%;
    height: 350px;
    margin-bottom: 100px; 
}

.contenedorCinco__titulo{
    color:  #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300px;
    font-style: italic;
	font-size: 40px;	
    line-height: 70px;
    margin: 1rem auto;
    margin-bottom: 30px;
    text-align: center;
    width: 60%;
}

.contenedorCinco__subtitulo{
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 200px;
    font-family:'Raleway', sans-serif;
    line-height: 2.5;
    margin: 1rem auto;
    width: 35%;
    font-weight: 600;
    text-align: center;
}

.contenedorCinco__texto{
    font-family:'Raleway', sans-serif;
    line-height: 2.5;
    margin: 1rem auto;
    width: 35%;
    text-align: center;
    font-size:16px;
    color: #3a3a3a;
}

.contenedorCinco__img{
    position: absolute;
    width: 220.61px;
    height: 578px;
    left: 1082px;
    top: 3412px;
}


#seccionSeis{
    width: 100%;
    height: 600px;
}

.contenedorSeis__titulo{
    color: #3a3a3a;
	font-family: 'Cormorant Garamond', serif;
	font-size: 40px;
	text-align: center;
    line-height: 70px;
    margin: 1rem auto;
}

.contenedorSeis__subtitulo{
    color:  #585A60;
	font-family: 'Raleway', sans-serif;
	width: 40%;
	line-height: 2;
    font-size: 18px;
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
}

.contenedorSeis__img{
    width: 30%;
    margin-left: 35%;
}



.contenedorSiete__pasos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
    justify-content: space-evenly;
    align-content: flex-start;
    background-image: url(../media/gomed.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;  
}

.contenedorSiete__caja{
    width: 45%;  
}

.contenedorSiete__box{
  
	border-color: 1px solid white;
	border-radius: 10px;
	background-color:  white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
    width: 45%;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 80px;
      
}

.contenedorSiete__img{
 width: 10%;  
}

.contenedorSiete__titulo{
    font-family:'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px; 
}

.contenedorSiete__texto{
    margin-top: 10px;
    font-family:'Open Sans', sans-serif;
    line-height: 1.7;
    font-size: 14px;
}


.contenedorSiete__caja2 { 
    width: 31%;  
}

.contenedorSiete__box2{

    border-color: 1px solid white;
	border-radius: 10px;
	background-color:  white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
    width: 55%;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-right: 50px;
}


.contenedorSiete__img2{
    width: 10%;  
}
   
.contenedorSiete__titulo2{
    font-family:'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    margin-top: 10px;
    
}
   
   
.contenedorSiete__texto2{
    margin-top: 10px;
    font-family:'Open Sans', sans-serif;
    line-height: 1.7;
    font-size: 14px;
}


#seccionOcho {
    width: 100%;
    height: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.contenedorOcho__titulo{
    color: #3a3a3a;
	font-family: 'Cormorant Garamond', serif;
	font-size: 40px;
    text-align: left;
    margin-left: 80px; 
}


.contenedorOcho__texto{
    color: #3a3a3a;
	font-family: 'Raleway', sans-serif;
	width: 40%;
	line-height: 2.50;
    font-size: 16px;
    text-align: right;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedorOcho__img{
    position: absolute;
    width: 50%;
    right:0;
    top: 4800px;
}

.contenedorNueve {
    height: 300px;
    width: 100%;

}


.contenedorNueve__titulo{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    margin-left: 30%;
    margin-top: 30px;
}

.contenedorNueve__texto{
    color: #585A60;
    font-family: 'Raleway', sans-serif;
    margin-left: 33%;
    width: 60%;
    line-height: 2;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
}


.contenedorNueve__img{
    margin-left: 35%;
    width: 20%;
    bottom: 2900px;

}

   	
.contenedorDiez{
    margin-top: 100px;
    height: 600px;
    background-size: 70%;
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;  
}


.contenedorDiez__titulo {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    margin-left: 36%;
    padding-top: 10%;   
}

.contenedorDiez__texto{
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 30%;
    margin-left: 34%;
    padding-top: 10px;
    line-height: 2;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.contenedorDiez__img{
    margin-left: 35%;
}

/* Home*/    
 

/*Quienes Somos*/

.cuerpo2 {
    background-color: white;
	width: 100%;
	height: 2400px;
    margin-top: 10px;
    background-size: 100%;
    background-image: url(../media/fondoQs.png);
    background-repeat: no-repeat;
    background-position: center;
}

.nosotros{

    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nosotros__titulo{
    color:  #77898B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-left: 15%;
    padding-top: 110px;  
    letter-spacing: 5px;
    margin-bottom: 20px;
    
}

.nosotros__subtituloUno {
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 45%;
    margin-left: 10%;
    font-weight: 300;  
}

.nosotros__subtituloDos{
    color:  #3a3a3a;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 10%;
    width: 40%;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
    line-height: 2; 
}

.nosotros__texto{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 30px;
    width: 45%;
    line-height: 2;
}

.nosotros__foto{
    float: right;
    width: 30%;
    position: relative;
    margin-right: 50px;
    top: 20%;
}


.mision{
    width: 100%;
    height: 600px;
    margin-top: 100px;

}

.mision__titulo{
    color:  #77898B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px; 
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-align: right;
    margin-right: 200px;
}

.mision__subtituloUno {
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 50%;
    margin-left: 40%;
    text-align: right;
    font-weight: 400;   
}

.mision__subtituloDos{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 50%;
    margin-left: 40%;
    text-align: right;
}


.mision__texto{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 55%;
    margin-top: 30px;
    width: 35%;
    line-height: 2;
    text-align: right;
}

.mision__foto {
    width: 35%;
    position: absolute;
    margin-left: 120px;
    top: 120%;
}
 

.valores{
    width: 100%;
    height: 500px;
    margin-top:200px;
    margin-bottom: 200px;
}

.valores__titulo{
    color:  #77898B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px; 
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-align: center;  
}

.valores__subtituloUno {
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-weight: 400;   
}

.valoresBox__items{
    margin-top: 100px;
    max-width: 80%;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
	align-items: baseline;
	margin-left: 150px;
}

.valoresBox__titulo {
	font-family:'Open Sans', sans-serif;
	line-height: 1.50;
	margin-top: 20px;
	font-size: 20px;
    font-weight: 300px;
    text-align: center;
    margin-bottom: 20px;
    color: #3A3A3A;
    font-weight: 800;
    letter-spacing: 1px;
}

.valoresBox__texto {
	font-family: $font-secundaria;
    text-align: center;
    color:#585A60;    
}

.valores__img {
    width: 15%;
    margin-left: 40%;
}


.valores__box {
	flex:1 ;
	padding: 20px 20px 20px 20px;
    height: 280px;
	border-color: 1px solid white;
	border-radius: 10px;
	background-color:  white;
	box-shadow: 0 0 10px 4px #f7f7f7;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.7;
    text-align: center; 
}


.partners{
    width: 100%;
    height: 600px;
}


.partners__titulo{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    width: 70%;
    font-weight: 600;
    text-align: center;
    margin-left:15%;
    margin-bottom: 5%;  
}

.partners__foto{
    margin-left: 15%;
}

/* Pacientes*/

.cuerpo3 {
    background-color: white;
	width: 100%;
	height: 1800px;
    margin-top: 10px;
    background-size: 100%;
    background-image: url(../media/fonopacientes2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.escanear{

    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 120px;
}

.escanear__titulo {
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 38%;
    margin-left: 10%;
    font-weight: 500;   
}

.escanear__subtituloUno{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 10%;
    width: 35%;
    margin-top: 30px;
    line-height: 2.5;
    font-weight: 300;
   
}


.escanear__subtituloDos{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 10%;
    width: 40%;
    margin-top: 30px;
    line-height: 2;
    font-weight: 500;  
}

.escanear__texto{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 30px;
    width: 35%;
    line-height: 2;
    font-weight: 700;
    font-style: italic;  
}

.escanear__foto{
    float: right;
    width: 33%;
    position: relative;
    margin-right: 180px;
    bottom: 10%;
}

.funciones{
    width: 100%;
    height:800px;
}

.funciones__titulo {
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-weight: 700;        
}

.funciones__cajas{
    margin-top: 100px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.funcionesBox__titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:#343348;
    font-weight: 300px;
    margin-left: 25px;
    position: relative;
    top: 25px;
    letter-spacing: 1px;
    
}


.funcionesBox2__titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:#343348;
    font-weight: 300px;
    margin-left: 25px;
    position: relative;
    top: 10px;
    letter-spacing: 1px;
}

  
.funcionesBox__texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3a3a3a;
    line-height: 1.7;
    margin-left: 38px;  
}


.funcionesBox2__texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    color: #3a3a3a;
    line-height: 1.7;
    margin-left: 38px; 
}

    
.funcionesBox__img {
    width: 8%;
    margin-left: 43px;
    
}
    
    
.funciones__box {
    width: 35%;
    height: 170px;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    box-shadow: 0 0 10px 4px #f7f7f7;
    margin-bottom: 30px;
     
}

.funciones__box:hover{
    box-shadow: 0 0 10px 4px #ACADAF;
}

.soluciones{
    width: 100%;
    height: 600px;
    background-color: white;
    background-image: url(../media/solucionesdoc.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
  
}

.soluciones__titulo{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 38%;
    margin-left: 10%;
    font-weight: 500;
    margin-bottom: 2%;
}

.soluciones__texto{
    color:  #3a3a3a;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 10%;
    width: 40%;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 2%;  
}

.soluciones__cajas{
    width: 85%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
}

.soluciones__box{
    height: 80px;
    width: 33%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: left;
    margin-left: 9%;
    margin-top: 2%;

}


.solucionesBox__texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3a3a3a;
    line-height: 1.7;
    width: 68%;
    margin-left: 20px;
    line-height: 1.7;
    top: 5%;
    padding-top:8px;
}

.appPacientes{
    width: 100%;
    height: 550px;
    margin-bottom: 100px;
    background-image: url(../media/appPacientesfondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
   
}

.appPacientes__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: white;
    font-style: bold;
    text-align: center;
    padding-top: 10%;
   
}

.appPacientes__texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 2%;

}

.appPacientes__foto{
    width: 20%;
    margin-left: 40%;
    margin-top:2%;
}

/*Pacientes*/


/* Ayuda*/

.cuerpo {
    background-color: white;
    
	width: 100%;
	height: 2400px;
	margin-top: 10px;
}

.ayuda{
    width: 100%;
    height:250px;
    background-color: white ;
}

.ayuda__titulo{
    color:  #77898B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-left: 40%;
    padding-top: 110px;  
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: 800;
}

.ayuda__subtitulo{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 45%;
    margin-left: 33%;
    font-weight: 300;   
}

form{
    width: 100%;
    height: 50%;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin-left: 32%;
    color: white;
}


.box{
    width: 70%;
    height: 220px;
    background-color: #FBFBFB;
    margin-left: 15%;
    margin-top: 5%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}


.box:hover{
    box-shadow: 0 0 10px 4px #c8cecf;
}


summary{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 300px;
    margin-left: 50px;
    line-height: 2;
}

details summary {
    outline:none;
    
}
.respuestas{
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    color: #3a3a3a;
    line-height: 1.7;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

::-webkit-details-marker{
    float: right;
    color: #3a3a3a;
    margin-left: 80px;
    border-radius: 20px;
}

summary::-webkit-details-marker {
    display: none
  }
  
  summary:after {
    background: url(../media/plus.svg);
    float: right; 
    height: 20px;
    width: 20px;
    content: " ";
    margin-top: 8px;
    margin-left: 40px;

  }
  
  details[open] summary:after {
    background: url(../media/minus.svg);
    margin-right: 80px;
  }


.consulta{
    margin-top: 200px;
    width: 50%;
    height: 300px;
    background-color: #77898B;
    margin-left: 23%;
    border-radius: 5px;
    padding: 60px 60px 60px 60px;
    margin-bottom: 100px;
    
}

.consulta__titulo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    color: white;
    font-weight: 300px;
    margin-left: 30%;
    margin-top: 70px;
}

.consulta__texto{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 13%;
    margin-top: 50px;
}

#dochelp{
    margin-left: 15%;
    position: absolute;
    top: 1785px;
}

.piepagina{
    width: 100%;
    height: 300px;
    background-color:#3A3A3A;
}


.piepagina__logo{

	letter-spacing: 10px;
    font-family: $font-logo;
    color: #FBFBFB;
    font-size: 30px;
    margin-left:43%;
    margin-top: 40px;
    padding-top:40px;

}

.redesSociales{
    width: 20%;
    height: 100px;
    background-color: #3A3A3A;
    margin-left: 36%;
}


#twitter{
    margin-top: 40px;
    margin-left: 30%;
    display: inline-block;
    
}

#face{
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;
    
}

#ig{
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block; 
}

/*Ayuda*/


/*Contacto*/

.fondo{
	width: 100%;
	height: 800px;
	background-color:white;
}

.formulario__titulo{
    color:  #77898B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-left: 45%;
    margin-top: 55px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: 800;
}

.formulario__subtitulo{
    color: #3a3a3a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    width: 55%;
    margin-left: 26%;
    font-weight: 300;   
}


.piepagina2{
    width: 100%;
    height: 250px;
    background-color: #3a3a3a; 

}


.piepagina2__logo{
	letter-spacing: 10px;
    font-family: $font-logo;
    color: #FBFBFB;
    font-size: 30px;
    margin-left:42%;
    padding-top:35px

}


.media{
    width: 20%;
    height: 100px;
    background-color: #3a3a3a; 
    margin-left: 35%;
}


@media (max-width:1048px){

    .formulario__subtitulo{
        font-size: 35px;
        width: 100%;
    }
}

@media (max-width:909px){

    .formulario__subtitulo{
        font-size: 25px;
        width: 100%;
        margin-left: 18%;
    }

    .formulario__titulo{
        margin-left: 35%;
    }

    .piepagina2__logo{
        font-size: 20px;
        margin-left: 39%;
    }

    #twitter{
        margin-left: 25%;
        width: 14%;
    }

    #face{
        width: 7%;
    }

    #ig{
        width: 12%;
    }
}

/*Contacto*/


/*CUERPO*/
