/*FOOTER*/
.mb-0{
	letter-spacing: 10px;
	font-family:$font-logo;
	font-size: 20px;
	font-weight: bold;
	color:white;
	
}



p a {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-decoration: none;
}

p a:hover{
	text-decoration: none;
	color: #585a60;
}


/*FOOTER*/