
$font-logo: 'Cagliostro', sans-serif;

$font-primaria: 'Cormorant Garamond', serif;

$font-secundaria: 'Open Sans', sans-serif;

$color-principal: #77898B;

$color-secundario: #3A3A3A;


@import "general";

@import "header";

@import "formulario";

@import "body";

@import "footer";


